body {
  color: #222;
  font-family: sans-serif;
  line-height: 1.5;
  margin: 1rem;
  max-width: 768px;
  font-family: 'Times New Roman', '宋体';
}

header {
  border: 1px solid #222;
  margin-bottom: 1rem;
  background-color: black;
  color: white;
  text-align: center;
  clear: both;
}

footer {
  border: 1px solid #222;
  margin-top: 1rem;
  background-color: black;
  color: white;
  text-align: center;
  clear: both;
}

a {
  color: #00e;
  text-decoration: none;
}

nav {
  color: black;
  background-color: gray;
}